<div class="mt-4 ml-4">
    <h3>Ban quản trị</h3>
    <a href="/admin/createBQT" class="btn btn-primary text-white">Thêm ban quản trị</a>
    <table class="table mt-4">
        <tbody>
            {{#each bqt}}  
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <th style="word-wrap: break-word; width: 100px;">
                  Chức vụ    
                </th>
                <td  > 
                    {{this.office}}
                </td>
                <td style="word-wrap: break-word; width: 200px;">
                    <a href="/admin/{{this._id}}/editBQT" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link"  data-toggle="modal" data-id="{{this._id}}" data-target="#modal-course-delete">Xóa</a>
                </td>
            </tr>
            <tr>
              <th></th>
                <th >
                    Tên
                </th>
                <td style="word-break: break-word; width: 800px;"> 
                    {{this.fullname}}
                </td>
                <td>
                    <a href="/admin/{{this._id}}/editBQT" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link"  data-toggle="modal" data-id="{{this._id}}" data-target="#modal-course-delete">Xóa</a>
                </td>
            </tr>
            <tr>
              <th></th>
                <th >
                    Avatar
                </th>
                <td style="word-break: break-word; width: 800px;"> 
                    {{this.avatar}}
                </td>
                <td>
                    <a href="/admin/{{this._id}}/editBQT" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link"  data-toggle="modal" data-id="{{this._id}}" data-target="#modal-course-delete">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


{{!-- modal delete course --}}


<!-- Modal -->
<div class="modal fade" id="modal-course-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn xóa khóa học?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<form id="delete-course-form" method="POST" >

</form>

<script>
    document.addEventListener('DOMContentLoaded', function(){
      //khi dialog confirm click
      var courseId
      var deleteForm = document.forms['delete-course-form']
      var btnDeleteCourse = document.getElementById('btn-delete-course')

      $('#modal-course-delete').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        courseId = button.data('id') 
      })
      
      btnDeleteCourse.onclick = function (){
        deleteForm.action = '/admin/' + courseId + '/deleteNotify?_method=DELETE'
        deleteForm.submit()
      } })
</script>