<div class="mt-4 ml-4">
    <h3>Các bài viết thông báo</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Link</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each notify}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.title}}</td>
                <td>{{this.link}}</td>
                <td>
                    <a href="/admin/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link"  data-toggle="modal" data-id="{{this._id}}" data-target="#modal-course-delete">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>